body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial, sans-serif;
}

header{
  padding:15px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
}

.container{
  padding:20px;
}

.button{
  display:block;
  width:100%;
  padding:15px;
  margin:10px 0;
  background:#111;
  border:1px solid #333;
  color:#fff;
  font-size:16px;
  border-radius:12px;
}

.button:active{
  background:#222;
}
